@charset "UTF-8";
/* MIXIN */
.letra-bord-arial {
  font-family: arial;
  border: 2px solid white; }

.letra-bord-helvetica {
  font-family: helvetica;
  border: 6px solid black; }

/* END MIXIN */
.card, .ucard {
  background: orange;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.1); }

.avatar, .ucard > img {
  width: 100px;
  height: 100px;
  border-radius: 100px; }

.title, .ucard > h3 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 12px;
  opacity: 0.85; }

.small {
  font-weight: 400;
  font-size: 12px;
  opacity: 0.75; }

.ucard {
  max-width: 300px;
  text-align: center; }

.ucard__img {
  opacity: 0.5; }

.ucard__img--sinop {
  opacity: 0; }

.h1__t {
  color: darkred; }

.h1__b {
  color: #eeedc4; }

.h1__r {
  color: #9d5c75; }

.h1__e {
  color: #f7e7ce; }

/* Borde "contacto" */
.bord {
  border: 6px solid black;
  display: flex;
  flex-direction: center; }

.fc {
  background-color: #c5bdaa; }

.imbak {
  background-image: url(../img/extras/wine-fields4.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

label {
  color: white;
  font-weight: bold; }

/* Barra navegación */
.logo {
  width: 30px; }

.navbar-custom {
  color: #465d92; }

/* Imágenes vinos en index */
img {
  display: block;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin: auto; }

/* Background de todo el sitio */
body {
  background-color: #c5bdaa;
  margin: 0;
  width: 100%;
  min-height: 100vh; }

/* Botón "tintos disponibles" en index */
.comp {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none; }

/* Encabezados */
h1 {
  font-family: 'Outfit', sans-serif;
  color: #8b0000; }

h2 {
  font-family: 'Outfit', sans-serif;
  color: #8b0000; }

/* Formulario */
.cont-form {
  background-color: #c5bdaa;
  margin: 0; }

/* Comienzo sección "NOSOTROS" */
/* "Acerca de nosotros" */
.section_title {
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #bfa67a;
  font-size: 700;
  font-family: tahoma; }

/* "Somos creadores" */
.section_main_title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 30px;
  line-height: 1.27;
  font-weight: 300; }

/* Dos párrafos con información */
p {
  display: block;
  font-size: 16px;
  color: black;
  text-align: justify;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

/* Recuadro uva loca */
.about-box {
  -webkit-box-shadow: 0 0 0 10px #000000 inset;
  box-shadow: 0 0 0 10px #000000 inset;
  margin-top: 0;
  margin-right: 0;
  position: relative;
  display: block; }

/* Animación uva loca */
div.slide-left {
  width: 100%;
  overflow: hidden; }

div.slide-left div.inner {
  animation: slide-left 2s;
  margin-top: 0%; }

@keyframes slide-left {
  from {
    margin-left: 100%; }
  to {
    margin-left: 0%; } }

/* GRID INDEX y GRID PÁGINAS VINOS */
.wrapper {
  display: grid;
  grid-template-areas: "one two" "three four";
  grid-template-columns: auto;
  grid-gap: 10px;
  grid-auto-rows: auto;
  margin: 10px; }

/*Ítems del contenedor*/
.one {
  grid-area: one; }

.two {
  grid-area: two; }

.three {
  grid-area: three; }

.four {
  grid-area: four; }

@media only screen and (max-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-areas: "one" "two" "three" "four";
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin: 10px; } }

@media only screen and (max-width: 510px) {
  .wrapper {
    display: grid;
    grid-template-areas: "one" "two" "three" "four";
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-auto-rows: auto;
    margin: 10px; }
  .one {
    grid-area: one; }
  .two {
    grid-area: two; }
  .three {
    grid-area: three; }
  .four {
    grid-area: four; } }

/*FIN GRID DEL INDEX Y DE PÁGINAS VINOS*/
/*REGULACIÓN RESPONSIVE PARA "CONTACTO"*/
#footer {
  height: 20px; }

#content {
  min-height: calc(100vh - 40px); }

#header {
  height: 20px; }

/*REGULACIÓN RESPONSIVE PARA "NOSOTROS"*/
#footer__nosotros {
  height: 56px !important;
  margin-top: 125px; }

#content__nosotros {
  min-height: calc(100vh - 40px); }

#header__nosotros {
  height: 20px; }

@media only screen and (min-width: 768px) {
  #footer__nosotros {
    height: 25vh; }
  #content__nosotros {
    min-height: 50vh; }
  #header__nosotros {
    height: 25vh; } }

@media only screen and (min-width: 992px) {
  #footer__nosotros {
    height: 30vh; }
  #content__nosotros {
    min-height: 40vh; }
  #header__nosotros {
    height: 30vh; } }

/*FIN REGULACIÓN RESPONSIVE PARA "NOSOTROS"*/
.reducida {
  display: none; }

@media only screen and (max-width: 510px) {
  .normal {
    display: none; }
  .reducida {
    display: block; } }
