#cuadrado{
    width: 200px;
    height: 200px;
    background: #aaa;
    animation-name: mianimacion;
    animation-duration: 4s;
    animation-delay: 2s;
    /* position: relative;
    animation-direction: reverse;
    /* animation-timing-function: linear; velocidad normal del cuadrado */
    /* animation-timing-function: ease;   /*arranca lento y termina rápido*/
    /* animation-iteration-count: 2; INFINITE cuántas veces quiero que se repita

}

@keyframes mianimacion {
    0% {background: #aaa;left:0px;top:0px;}
    25% {background:red; left: 300px; top:0px;}
    50% {background:green;left:300px;top:300px;}
    75% {background:pink;left:0px;top:300px;}
    100% {background:blue;left:0px;top:0px;}
} 
