/* Barra navegación */
.logo {
    width: 30px;
  }
.navbar-custom {
    color: #AAB2C5;
}
/* Imágenes vinos en index */
img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin: auto;
}
/* Background de todo el sitio */
body {
    background-color: rgb(197, 189, 170);
    margin: 0;
}

/* Botón "tintos disponibles" en index */
.comp {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/* Encabezados */
h1 {
    font-family: 'Outfit', sans-serif;
    color:#8b0000;
}
h2 {
    font-family: 'Outfit', sans-serif;
    color:#8b0000; 
}

/* Formulario */
.cont-form {
    background-color: rgb(197, 189, 170);
    margin: 0; 
}

/* Comienzo sección "NOSOTROS" */

/* "Acerca de nosotros" */
.section_title {
    margin-bottom: 7px;
    padding-left: 7px;
    font-seize: 16px;
    line-height: 1;
    text-transform: uppercase;
    color: #aaaaaa;
    border-left: 3px solid #bfa67a;
    font-seize: 700;
    font-family: tahoma;
}
/* "Somos creadores" */
.section_main_title {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 1.27;
    font-weight: 300;
}
/* Dos párrafos con información */
p {
        display: block;
        font-size: 16px;
        color: black;
        text-align: justify;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
}

/* Recuadro uva loca */
.about-box {
    -webkit-box-shadow: 0 0 0 10px #000000 inset;
    box-shadow: 0 0 0 10px #000000 inset;
    margin-top: 0;
    margin-right: 0;
    position: relative;
    display: block;
}
/* Animación uva loca */
div.slide-left {
    width:100%;
    overflow:hidden;
  }
div.slide-left div.inner {
    animation: slide-left 2s;
    margin-top:0%;
  }
  
  @keyframes slide-left {
    from {
      margin-left: 100%;
    }
  
    to {
      margin-left: 0%;
    }
  }
/* Responsive para animación uva loca */
/* Iphone 5/SE */
@media only screen and (max-width: 568px) {
div.slide-left {
    width:100%;
    overflow:hidden;
    }
div.slide-left div.inner {
    animation: slide-left 2s;
    margin-top:0%;
    }
    
    @keyframes slide-left {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }
    }
/* Moto G4, Galaxy S5 */
@media only screen and (max-width: 640px) {
div.slide-left {
    width:100%;
    overflow:hidden;
    }
div.slide-left div.inner {
    animation: slide-left 2s;
    margin-top:0%;
    }
    
    @keyframes slide-left {
    from {
        margin-left: 100%;
    }
    
    to {
        margin-left: 0%;
    }
    }
/* iPhone 6, 7, 8 */
    @media only screen and (max-width: 667px) {
    div.slide-left {
        width:100%;
        overflow:hidden;
        }
    div.slide-left div.inner {
        animation: slide-left 2s;
        margin-top:0%;
        }
        
        @keyframes slide-left {
        from {
            margin-left: 100%;
        }
        
        to {
            margin-left: 0%;
        }
        }
/* Pixel 2 */
    @media only screen and (max-width: 731px) {
    div.slide-left {
        width:100%;
        overflow:hidden;
        }
    div.slide-left div.inner {
        animation: slide-left 2s;
        margin-top:0%;
        }
        
        @keyframes slide-left {
        from {
            margin-left: 100%;
        }
        
        to {
            margin-left: 0%;
        }
        }
/* iPhone 6, 7, 8 Plus */
        @media only screen and (max-width: 736px) {
        div.slide-left {
            width:100%;
            overflow:hidden;
            }
        div.slide-left div.inner {
            animation: slide-left 2s;
            margin-top:0%;
            }
            
            @keyframes slide-left {
            from {
                margin-left: 100%;
            }
            
        to {
            margin-left: 0%;
        }
        }
/* Pixel 2XL */
        @media only screen and (max-width: 823px) {
        div.slide-left {
            width:100%;
            overflow:hidden;
            }
        div.slide-left div.inner {
            animation: slide-left 2s;
            margin-top:0%;
            }
            
            @keyframes slide-left {
            from {
                margin-left: 100%;
            }
            
            to {
                margin-left: 0%;
            }
            }
}
/* Fin sección "NOSOTROS" */
